# Arquivos gerados pelo Prisma
src/db/generated/
src/db/prisma/migrations/

# Node modules
node_modules/

# Logs
*.log
logs/

# Build e dist
dist/
build/
coverage/

# Arquivos temporários
.tmp/
.cache/

# Configurações específicas do ambiente
.env
.env.local
.env.production